block November-2
 
  span(id="november-2" when="2016-11")

    h2(class="activity-5 preliminary prototype operative improvements") Tested webXray on OTF cloud
    p(class="task-description") The tool
      a(href="http://webxray.org/") webXray
      | has many things in common with this project, there are some points that can be rused and other that are not useful.
      ul
        li
          b useful
          | a phantomJS script to compare with my previous one. The approach used has solved a couple of problem I didn't solve before
        li
          b not useful
          | the backend structure use all the list, require interactive operations and used MySQL, I need an automatized approach and I'm prefering a Document Oriented DB (Mongo) because
        li
          b worring
          | one of the problem in third party trackers is the unreliability and source changes of the ADV content. The tool, any tool, might hang undefinetly while waiting. and we can't use activity as discriminator factor, because sometime a detected activity last forever. In order to optimize resources when the test is executed in parallel against many sources, you need to find the best stragegy. webXray, [kill the browser emulation after 20 seconds](https://github.com/timlib/webXray/blob/master/webxray/resources/phantomjs_scripts/wbxr_logger.js#L121), no matter of what is happening. In [Trackography-2](https://github.com/vecna/invi.sible.link/blob/Jan-Mar-2016-advancements/crawl/phjsrender.js) I've tried an adaptive solution, but this sometime cause , to get more information, but proven to not be a good idea.

    p(class="task-description") In my current design these blocking operation are a problem, in the examples you'll see the effect of don't managing such blocks. Without a manual intervention the pipeline remain blocked forever, and spotting all the possible conditions is hard.
    img(src="/images/unmanagedDelay1.png")
    img(src="/images/unmanagedDelay2.png")

    p(class="task-description") the screenshot above are part of the pipeline testing using the code of Trackography-2, results are still not accessibles.
