h1(class="reportTitle" id="April-17") April 2017

section(class="preliminary-12")
    h2 Organizing documentation
    p.text With the first adoption of the technology, I've started to organize documentation and define how the project might be integrated into other project doing the same analysis. The README on the 
        a(href="https://github.com/vecna/invi.sible.link/tree/master/campaigns") campaigns
        |  is the reference for them and is currently kept reference by who's organizing those.

section(class="operative-7 prototype-9")
    h2 Academy and outreach 
    p.text Three important events involving my research in the fellowship are going to happen between May and July.
    ol
        li I'm working with an investigative journalism team to explain, for a (very) large and basic audience third party trackers, privacy and security implications. In the second half of May might be done.
        li
            a(href="http://cartagena2017.iamcr.org/big-data/") Big Data for the South
            |, in Cartagena, has accepted the application of Me and Joana of CodingRights, about third party analysis in Latin America compared with other Western countries.
        li I got accepted at the annual meeting of Stanford University, in 
            a(href="http://www.iacap.org/iacap-2017") International Association for Computing and Philosophy
            |. Has been accepted a talk of mine about third party profiling and the impact of race and religious discrimination.
    p.text In the first and third point above, The potential outcome is a quite large visibility over the code repository, in the hope some open source developer with free time take interest in the project.

section(class="improvements-5")
    h2 Experiment with OpenWPM
    p.text Princeton University, after webXray, improves their technology with 
        a(href="https://github.com/citp/OpenWPM") OpenWPM
        |  it is a nice developed tool that might represent a valid integration and extension to my analysis. It uses a different format, support much more interaction with a non-headless browser and is less orchestrated.

section(class="prototype-1")
    h2 Thug
    p.text as core factor of the fellowship, the Thug integration is proceeding well, executions and result [documented here]
