h1(class="reportTitle" id="April-17") April 2017

section(class="preliminary-12")
    h2 Organizing documentation
    p.text With the first adoption of the technology, I've started to organize documentation and define how the project might be integrated in other project doing the same analysis. The README on the [campaigns](https://github.com/vecna/invi.sible.link/tree/master/campaigns)  is the reference for them, and is currently kept as reference by who's organizing those.
