h1(class="reportTitle" id="February-17") February 2017

section(class="preliminary-4 prototype-4")
    h2 Manage a campaign based website
    p.text I'm realizing three campaign with a Western audience in mind. These campaigns do not strictly fits with my fellowship goals, but are useful steps for outreach and early feedback.
        ul
            li I realize a certain effort is in the 
                b website selection 
                |. It requires a deep knowledge of the target audience, as any non-generalistic communication. Having a collaborator belonging to the environment you want to disseminate is a requirement. In contexts in which the target audience is technical, this is less important though.
            li Raise awareness about third party trackers and the implications for users and companies security, require also some paragraphs on 
                b remediations, alternatives and script blocking
                |. This might be delgated to the many translated tutorial around the web.
            li Translation/Localisation are optional but welcomed. Is important for this point, to implement a technical structure that permits such customization.

    p.text I started the development of the tool named 
        a(href="https://github.com/vecna/social-pressure") social-pressure
        |.

    p.text In RightsCon, by the end of March 2017, I'll meet partners from Turkey, Iran and other countries to discuss how to begin some analysis campaign.

    p.text As technical imporvement, I've extended the 
        b campaign manager 
        | in importing CSV: this enables collaborator to work with a spreadsheet and github without dealing with more technically complex format (I use JSON natively). Also, it might be edited directly in github, lowering the entance barrier.

section(class="prototype-10")
    h2 Campaigns in progress and testing of the workflow
    p.text In the three campaign I'm testing, the d3 plugin sankey is helping in the generation of a graphical appealing scalable visualization, like:
    img(src="images/sankey-preview.png")

section(class="preliminary-9")
    h2 Joint application with Coding Rights
    p.text A research paper to compare 10 South American countries and 5 Western countries is a work in progress, we'll apply for academic conference.

section(class="prototype-3")
    h2 Stable monitoring of the analysis 
    p.text The monitoring pipeline is proved to be stable, the statistics are available here, they are showing the last two days and there the 
        a(href="/longterm-stats") last 20 days
        |  (might take a while to load the graphs)

    p.text below you can see a strange pattern that happens only to the machine located in Washington.
    p.text
        b Details: 
        | I'm using three boxes. Washington, Amsterdam and Hong-Kong. They share the same software and they execute the same command at the same time. This is done to reduce the differencies across tests. In a specific website under investigation, a different code is sent to the Washington box. Has the side effect of freeze phantomjs and keep it running. From the load average graph I spot this first anomaly:
    img(src="images/weirdLoadAvg.png")
    p.text In the next months, with the integration of Thug, will be easier perform javascript inspection and investigate on the reasons.


