
h2(class="reportTitle") The final report is composed by four chapters

p.text Each of them with:
    ul
        li The current situation in the author's knowledge
        li An original analysis with a regional use case
        li An analysis of the use case, with some graph visualization.
        li In the green background (can be hidden pressing this icon: XXX ) contains some technical tips on how to process the data or use 
            a(href="https://github.com/vecna/invi.sible.link") the toolkit

p.text 
    b Intended audience of these reports: privacy researcher, a web developer, a network analyst or a technologist. Inside you'll find boxes with green colored background, these sub-chapters are intended for technical audience and are used to explain the tool capabilities.
p.text Access to the 
    a(href="/invisiblelink-fullreport") full report
    |, or pick the chapters individually:

p.text 
    ol
        li Web trackers: impact, analysis, typology (status of existing researchs, basic use cases, first insight)
            h5 use case: 
                a(href="/findings-institutions") Institutions and web security, Latin America, Italy
        li Running a worldwide analysis, organizing samples for comparate research (the BadActor use case, the findings)
            h5 use case: 
                a(href="/findings-clinics") Latin American clinics
        li Overcame researcher limitation (social network feed vs defined URL list)
            h5 use case: 
                a(href="/findings-italian-elections") Italian election 2018
        li WebApp fingerprinting
            h5 use case: 
                a(href="/findings-wto") Argentinian elections and WTO
