
h2(class="reportTitle") The final report is composed by four chapters

p.text 
    b Intended audience of these reports: privacy researcher, a web developer, a network analyst or a technologist. Inside you'll find boxes with green colored background, these sub-chapters are intended for technical audience and are used to explain the tool capabilities.
p.text Access to the 
    a(href="/invisiblelink-fullreport") full report
    |, or pick the chapters individually:

.container-fluid
    span.col-sm-3
        a(href="/final-report") Introduction
    span.col-sm-3
        a(href="/final-findings-clinics") 1. Online clinics
    span.col-sm-3
        a(href="/final-findings-latam-gobierno") 2. Government Websites
    span.col-sm-3
        a(href="/final-findings-elections") 3. personalized URLs analysis 
