
h1(class="reportTitle" id="September-17") Final report, March 2018

section(class="operative-12 operative-10 operative-9 operative-3" id="finalreport")

    p.text This report is the final one of my OTF fellowship. it tooks even more months of delay, because I get involved in a partially-related experiment. a team and I, setup a system to monitor the Italian 2018 elections (on third party trackers, algorithm influence, narratives). Has been an intersectional research and I postponed the end of this project for that. This test explored also a new branch for this research, you can read it more in the report: 
        a(href="/findings/e18") Overcame researcher limitation (social network feed vs defined URL list)

    p.text For the project conclusion, I changed the website structure and written the conclusive research reports. Any of them is used to introduce a funcionality of the code developed.
        br
        | invi.sible.link will be used to foster investigation on web trackers analysis and accountability. The scenario of automatic web testing is changing quite fast. It is uncommon, but still happens, to attract supporters which can use the technology with me, and eventually update/maintain the code.
        br
        | Findings, got used for advocacy and assessment into this, otherwise invisible, phenomena. Occasionally, some NGOs or individual display the interest in the data, and try to figure how these data can be used for advocacy.

    include finalreportintro
