block December
 
    h1(class="reportTitle" id="January-17") January 2017

    h2 An update on the vision
    p.text Is insped by this title: https://points.datasociety.net/hacking-the-attention-economy-9fa1daca7a37#.z0zahxbwk Has become clear the campaign pipeline has to be the priority in this phase. After the alpha, I'll be dedicated in spreading adoption via social bot and targeted analysis. This might permit to experience since the beginning how reach out to different social circle and raise awareness. So, visualisation development has to be planned as:
        ul
            li simple, able to contain context and text
            li simple to be exported in social media bot
            li scalability of campaigns
        | later on, going deep in the javascript and perform analysis over an ecosystem that might scale meanwhile.

    section(class="prototype-2")
        h2 small fine tuning in the architecture 
        p(class="task-description") The concept of the component 
            i machete
            | proven to be better separated between statistics collector and campaign collector. This 

