h1(class="reportTitle" id="January-17") January 2017

section(class="preliminary-7")
    h2 An update on the vision
    p.text Inspired by this title 
        a(href="https://points.datasociety.net/hacking-the-attention-economy-9fa1daca7a37") Hacking the attention economy
        |, Has become clear that my production has not just to be a website full of results, because a website has these limits:
    ul
        li one, or maybe more than one, targets. Every target audience require (in theory) appropriate terminology, design, knowledge of their context.
        li every target need to be notified on the existence of invi.sible.link projects, and this is stupid: invi.sible.link is a technical tool, nobody that can't run the code would ever to look these pages
        li a translation process is expensive and something useless. does it make any sense if I translate in Italian, the investigation made with CodingRights in LatAa? No.

    p.text This is a
        b pipeline
        |, a series of tools that constantly process input to produce output. My output has to be:
        ul
            li targeted: specific audience that care of their own stuff, of their content, of their business. Because the subject of the campagin would be a list of websites near the audience
            li simple: you can know how tracking works if you want, if you don't, at least you would know that someone in your digital environment is treating their user bad. and this feeling has to be the goal of the communication. making website responsible for their third party inclusions.
            li like a bot: act on notification via social media, not mobile first, but:  
                b bot first
                |!

    p.text Therefore, in this post-prototypel phase, campaign pipeline has to be the priority. This might permit to experience since the beginning how reach out to different social circles, and will force the prject in keeping an operating workflow despite the tecnical challenges that are going to be faced later.

section(class="prototype-8")
    h2 Flexibility in target specification
    pre.
        2075 ۞  ~/Dev/invi.sible.link DEBUG=* filter='{"iso3166":"BR"}' bin/directionTool.js 
          directionTool Unspecified 'needsfile' ENV, using default config/dailyNeeds.json +0ms
          directionTool Using config/dailyNeeds.json as needs generator +2ms
          directionTool content {"needName":"basic","lastFor":{"amount":24,"unit":"h"},"startFrom":"midnight"} +31ms
          directionTool Processing timeframe: startFrom {"amount":24,"unit":"h"} (options: midnight|now), lastFor "midnight" +0ms
          lib:mongo read in subjects by {"iso3166":"BR"} sort by {} got 1 results +13ms
          directionTool Remind, everything with rank < 100 has been stripped off +1ms
          directionTool Generated 80 needs +5ms
          directionTool The first is {"subjectId":"65bdefee473b2aa910ff52efdcb0425f3d4201d6","href":"http://google.com.br","rank":1,"needName":"basic","start":"2017-01-11T02:00:39.251Z","end":"2017-01-12T02:00:39.251Z","id":"d8dcdbc594dbe873a3b5d4378420ea5eddc1ce9c"} +0ms
          lib:mongo writeMany in promises of 80 objects +0ms

    p.text This approach is in experimentation in February, for the first targeted campaign. The goal of such campaing is getting visibility, constructive criticism, and see the overall reaction about this kind of monitoring approach.

section(class="preliminary-10")
    h2 CodingRights campaign progress
    p.text We made a meeting in CodingRights planning the Chupadados campaign, and currently I'm running a prototypal experiment outside the fellowship scope, in order to test the infrastructured and the content production pipeline
    img(src="images/CR1.png")
    img(src="images/CR2.png")

section(class="preliminary-6 prototype-6")
    h2 Long term monitoring it is working properly
    p.text The 
        a(href="https://invi.sible.link/stats") stats page
        |  is working smoothly since time, I'm using it to keep in check the multiple operation performed, new graph might be add apply to specific campaign. Study which kind of graph is still a work in progress, but I've already done successiful experiment in integrating: 
        a(href="https://rawgraphs.io") rawgraphs.io
        |.
