h1(class="reportTitle" id="August-17") August 2017


section(class="preliminary-11")
    p.text The last month has been used for advocacy, networking and personal time.
    p.text In July, I was in Cartagena (Colombia), then in Rio Magdalena meeting indigenous community during their pacification process, then in Lima (Perù) meeting some local digital rights group, then to SHA2017 hacker camp near Amsterdam.
    p.text The most exciting developments are the conferences and the meeting, in the Latin American countries, I made with CodingRights.
    p.text I explained tracking implication in the last years, with mixed result. I am pleased to see how an analysis including only a contextual group of sites enables compelling narratives.
    p.text The story line used with CodingRights, in Cartagena was following this logic:
        ol
            li you as a citizen could have a health issue, and health insurance is necessary for it.
            li In the so-called quantify society, personalized services are a mean permitting more customer exploitation. Policy and common knowledge seem not ready yet to face these offers.
            li If an online clinics include third party trackers, your activity on their websites has only one link of distance to your physical person.
            li Your navigation an online clinic website could leak some patterns: a particular exam you are looking for, symptoms, prescription. 
            li This information can be used by the data processor, sell through data broker and ends up in an Insurance company. then used to increase the profit.
            li The business model of hospital, public or private, is not ADS based, third party trackers have not the same justification used, for example, in the news media debate.

    p.text This simple sequence it is worked in explaining the necessity of ad-blockers, the responsibility of websites and power dynamics of the data processor.
    p.text The outreach of I was looking for, is meeting partners who try to figure out their concrete problem, and how data broker could exploit the context they live.
    p.text If I have to make a list of the topic raised in the discussions, I recall more often:
        ul
            li The election, for local media and political party: for whom aware of Cambrige-Analytica, it is clear that political interest can be used  to frame a personalized message, and this can be abused for political marketing.
            li The media (a 
                a(href="https://www.poynter.org/2017/want-readers-to-start-trusting-you-again-stop-stalking-them-across-the-internet/469730/") well known problem 
                |)
            li The activist websites: because is implicitly a leakage of your political interest
            li The gambling/pornography websites: because they can leak to addictions or embarassing details in certain society.

    p.text I am exploring a theory: every connected human, belongs to many social context.
    p.text Moreover, we as humans are not vulnerable in all of this environment, you can even belong to thug gang, and nobody in your town will harm you, but your risk not finding any insurance coverage because a multinational denies your health care.
    p.text This approach tries to simplify the creation of campaign intended to the life aspect in which a person is vulnerable. The content produced is designed to speak to a group of a person which feel themselves at risk. 

    p.text Imagine two characters: "A political opponent in Iran" and "a poker addict looking for a new job." They face different risks, your empathy on the situation is probably different and the assistance they deserve too. InviSibleLink is a framework, can be used by two separate group, one speaking Persian and the other talking to addicts because massive web profiling can harm both of them. 
    p.text The "nothing to hide" narrative want to be addressed making many websites. The hopes are anybody will find the one who speaks to the part in which is vulnerable. Few persons feel completely safe, and they are not the target.
    p.text This approach has been confirmed and would define the cultural inheritance left after the fellowship, speaking of which, I have to run a little bit now to catch up with the deliverable planned.

 
