h1(class="reportTitle" id="June-17") June 2017

p The month has been used for reseaerch and advocacy more than development.

section(class="preliminary-11")
    h2 IACAP conference and presentation
    p.text I had my first presentation about third party trackers analysis, the content collected and the experience done would be reused in future presentations, a blogpost explaining the context will be published as soon as I make new visualizations with Tableau. I'm doing data investigation with that tool because it is much more efficient than developing my visualizations before have understood the complexity of the data. I've written a blogpost to test a simplify communication on algorithms, profiling and political impact: 
        a(href="https://medium.com/@trackingexposed/background-thoughts-on-https-american-muslims-tracking-exposed-cb0de1e16cd1" target="_blank") profiling, algorithm surveillance and religious freedom
        |.

section(class="preliminary-11")
    h2 General software improvement for the campaign checking
    p.text A simple approach to monitor the trend on how website are doing has been implemented (a random
        a(href="https://invi.sible.link/subjec/afd.de") example
        |), accessing to 
        a(href="https://invi.sible.link/last") Last activitivies 
        |  is the way I'm using with the other partecipats to check trends 

section(class="preliminary-11")
    h2 urlscan.io
    p.text I get in touch and obtain a key of 
        b urlscan.io
        |, it is a service which monitor websites inclusion from their own infrastructure. Can be useful as comparison. A driver to use the service has still to be implemented.

section(class="preliminary-11")
    h2 WebTAP and their publications
    p.text WebTAP is The Web Transparency and Accountability Project, of Princeton University. I subscribed to get access to of their data as researcher. I didn't yet have a chance to try these. The research team has released some inspiring paper, too, I had the opportunity to read this month:
    ul
        li
            a(href="http://randomwalker.info/publications/battery-status-case-study.pdf" target="_blank") Battery Status Not Included: Assessing Privacy in Web Standards
        li
            a(href="http://randomwalker.info/publications/ad-blocking-framework-techniques.pdf" target="_blank") The Future of Ad Blocking: An Analytical Framework and New Techniques
        li
            a(href="http://randomwalker.info/publications/webtap-chapter.pdf" target="_blank") The Princeton Web Transparency and Accountability Project 
        li
            a(href="http://randomwalker.info/publications/browsing-history-deanonymization.pdf" target="_blank") De-anonymizing Web Browsing Data with Social Networks

section(class="preliminary-11")
   h2 PhantomJS will be unmaintained
   p.text This is not a big deal, considering the probes diversification I have in mind, but considering the capability of collecting OpenGraph data, probably I have to replace the support of phantomJS with 
       b nightmarejs
       |, but in general, I'll look forward to integrate once for all Thug.

section(class="preliminary-11")
   h2 Experimental visualizations
   p.text I'm experimenting with Tableau Public, on this account
       a(href="https://public.tableau.com/profile/claudio.of.tracking.exposed#!/") Claudio at tracking exposed
       |, visualizations. I will use these for the conference in 
       a(href="https://www.eventbrite.com/e/big-data-from-the-south-from-media-to-mediations-from-datafication-to-data-activism-tickets-35135218384") Cartagena
       |.
 
