h1(class="reportTitle" id="March-17") March 2017

section(class="prototype-7")
    h2 RightsCon, finding campaigners
    p.text The month of March (and the first days of April) I attend in RighsCon and at the International Journalism Festival. My presence in there was justified by some talks I gave about algorithm accountability, I had some meetings with teams from different countries and contexts. Discussions are proceeding further, in order to begin an analysis campaign.
    p.text The countries of interests are 
        b Iran and Turkey
        |.

    h3 Side life
    p.text I started a trip to and around Europe, to meet a certain number of potential collaborators, I'm traveling in these months and my update schedule is getting some delay. The third party trackers analysis keep raising political (for example, the 
        a(href="http://www.slate.com/articles/news_and_politics/politics/2016/12/sleeping_giants_campaign_against_breitbart.html") Sleeping Giant
        | campaign) and technical interests. 

    h3 Academy updates 
    p.text Interesting updates are happening in the academic environment. Below the most meaninful that provide new argument for this analysis project: 
        a(href="http://www.ccs.neu.edu/home/arshad/publications/ndss2017jslibs.pdf") Security and harm caused by third party inclusions
        |, 
        a(href="https://www.amnesty.org/en/latest/research/2017/02/muslim-registries-big-data-and-human-rights/") Amnesty International on data brokers (and their impact in religuous profiling)
        |, 
        a(href="http://yinzhicao.org/TrackingFree/crossbrowsertracking_NDSS17.pdf") Cross browser hardware fingerprinting
        |.

section(class="prototype-10")
    h2 Reseach plan with CodingRights
    p.text Me and CodingRights team apply for a conference, we'll do in the next months a comparate analysis of sensitive (and less sensitive) websites among latin American and western country (as a comparison). Will be one of the core result of this fellowship and. Technology and the analysis tools are ready to be used, and Thug will be supported in the meantime. Results are scheduled to be available in June 2017.
