h1(class="reportTitle" id="March-17") March 2017

section(class="")
    h2 knowledge Updates
    p Security of third party
      http://www.ccs.neu.edu/home/arshad/publications/ndss2017jslibs.pdf
    p Amnesty on third party
      ...
    p 


