h1(class="reportTitle" id="March-17") March 2017

section(class="prototype-7")
    h2 RightsCon and campaigning
    p.text The month of March (and the first days of April) I attend in RighsCon and at the International Journalism Festival. My presence in there was justify by some talks I gave about algorithm accountability and some meetings I've to attend on third party tracking researchers.
    p.text The coutry of interest

section(class="operative-10")
    h2 Reseach plan with CodingRights
    p.text 
