h1(class="reportTitle" id="May-17") May 2017

p.text In May 2017 the first two campaign got released, mostly I worked as a facilitator, text editor, visualization revision, double checking the results and using this achievement to display a vision for partners.

section(class="preliminary-11")
    h2 Results publications to a broad audience

    p.text The month of May hasn't lead to any particular improvement. Rather a stabilization of the interfaces and the workflow. The month has got the two releases expected and the progress with CodingRights about our presentation in July.
    p.text In specific, the episode of the TV show using the analysis website has got 20k unique IP access and this spike in the web traffic:
    img(src="images/itatopexStats.png")
    p.text Deflect.ca offers the CDN and the technological interface to query the users. 
    p.text At the moment, the experience done has been useful to stabilize a tangible result for a broader audience. Also, minor initiatives are running, and currently I'm in Istanbul to make progress on an analysis in Turkey.
