h1(class="reportTitle" id="November-17") November 2017

p.text During the month of November, besid the exciting OTF summit in Valentia which has open a couple of potential collaboration, is the 11th month of my fellowship and few updates from the academia involved in the privacy research has been published.

section(class="operative-4 improvements-4")
    h2 Scorecard generation and social media integration
    p.text 

section
    h2 Expert visualization, work in progress
    p.text

section(class="operative-8")
    h2 Argentina tracking in realtime WTO event
    p.text A work in progress is the development of argentinia.tracking.exposed, analyzing the links shared by Argentinian media and political figures.

section
    h2 Plans on how to conclude the fellowship
    p.text
