h1(class="reportTitle" id="November-17") November 2017

p.text During November, besides the exciting OTF summit in Valentia which has open a couple of potential collaboration, is the 11th month of my fellowship and few updates from the academia involved in the privacy research have been published.

section(class="prototype-12")
    h2 External input 
    p.text Two external products confirm to me the usefulness of the invi.sible.link pipeline and they will provide some useful narrative in the final phase of this project.

    h3 Princeton university investigation on 
        a(href="https://en.wikipedia.org/wiki/Session_replay") Session Reply
    p.text Quoting wikipedia:
    blockquote 
        i Session replay is the ability to replay a visitor's journey on a web site or within a web application. Replay can include the user's view (browser or screen output), user input (keyboard and mouse inputs), and logs of network events or console logs. Its main value is to help improve customer experience[1] and to identify obstacles in conversion processes on websites. 
    p.text The research of Princeton university has been published in 
        a(href="https://webtransparency.cs.princeton.edu/no_boundaries/session_replay_sites.html") November 2017
        |  based on the attention which such feature could raise on website intended for a targeted audience, I've extended the scorecard I'm working on to report this evidence.
    p.text As explained by the researchers, they released a list of third party trackers 
        a(href="https://gist.github.com/gunesacar/0c67b94ad415841cf3be6761714147ca") offering session reply services
        |, but this list is not complete and at the moment is a mix of domain names and script.  
        a(href="https://www.wired.com/story/the-dark-side-of-replay-sessions-that-record-your-every-move-online/") (Wired).

    h3 ProPublica 
        a(href="https://www.propublica.org/article/facebook-political-ads-malware-scams-misleading") spot malware via social media crowdsource monitoring
    p.text Targeted attack was the main concern of this fellowship product: what if a malicious script, or injected malware, is served based on the content you are visiting or in your profile background? This has been confirmed to happen, but to do that, a media organization develop a tool, made campaign, analyze data, find results. This is a process who do not scale, and my development goals are exactly make scale for community these experts abilities.

    h3 Privacy and security implications
    p.text As it was years ago, 
        a(href="https://fast.wistia.net/embed/iframe/znh6y05b3f") increases the privacy implication of the unregulated usage of third party trackers
        |. Also if the protection are getting better, for example with 
        a(href="https://www.wired.com/story/ghostery-deploys-ai-in-fight-against-ad-trackers/") Ghostry 8
        |, the challenge is not over, and still, the goal of the project here is making website more responsible and don't leverage only on the self-defense techniques that skilled users can adopt.

    h2 Final stage of the fellowship
    p.text Nearly all the declared points announced on my project plan should be delivered. The research part, in which I was supposed to look for insights into the scripts behavior, has been limited by the campaigni and partnership efforts.
    h3 TODO list for December, to conclude the fellowship
    ol
        li Complete the expert visualization, with the goal of investigating on session reply and canvas fingerprint. It is the bare minimum
        li Complete the scorecards, at the moment the prototype visible on 
            a(href="https://invi.sible.link/campaign/irantrex") campaign/irantrex
            |  (the experimental campaign are: Iran, Italy, Poland, NGOs, LatAm Clinics, community-based WTO Argentina monitor, besides the american muslims campaign which need some partnership to continue properly)
        li Try to lunch a collaborative analysis over World Trade Organization meeting in Argentina, more person will adopt the social extension, and more input can be analyzed.
        li Complete the clinics analysis, test the 
            b bot concept
            |  and 
            a(href="https://www.openglobalrights.org/scientists-and-activists-collaborate-to-bring-hard-data-into-advocacy/?lang=English") outreach
            |  to other organizations. The goal is test a campaign tool.


