h1(class="reportTitle" id="August-17") August, September and October 2017

p.text This montlthy report is published after three months, in two of them the felloship got suspended to follow up on an unique occasion, in experimenting a conjuncted analysis between social media links spreading and trackers analysis. In the moment I'm writing, beginning of November 2017, a report in the hand of a third party organisation is under dedevelpment. 

section(class="improvements-4")
    h2 Social media observer and realtime analysis
    p.text One of the challenge in web analysis, is the impossibility to test all the condition in which an user will navigate. Doing an average assumption, you can end up in doing an mass analysis but not to spot some deeply targeted behavior, because the script you hope to catch will just trigger in certain content.
    p.text The solution so far has been:
    ul
        li permitting to experts in providing their own list
        li exporting your own history, in this year a good improvement has been made by EDRI fellow XXX developer of Hackuna metadata
        li monitor only the homepages of meaningful websites (this is what me, princeton university or amaranta media did)
    p.text Considering how Facebook and Google are the effective gatekeeper of the WWW, the most appropriate solution to monitor the quality of web pages, is look at what is effectively shared. Both of the platform mentioned offer personalized experience, what you see depends on your profile, behavior, sources you decided and what the algoritmih is selecting for you. Whit a browser extention is possible capture the public post in an user timeline, extract the external links, and 

section(class="preliminary-7")
    h2 Analysis of javascript tracking behavior
    p.text Has been implemented the usage of Chrome with PrivacyBadger as part of the testing suite, this permit to get detailed informations like these:
finterprinting

    h2 Advanced visualization (first try)
    p.text Implemented in the HK server, the experimental new fetcher 
        a(href="https://hk-vp.sible.link/details/clinics-CL") Clinics-CL
    p.text 
        img(src="/images/details.png")

    pre.
        "VP": "virtual", 
        "_id": "59b3ef87f50635667354b8b6", 
        "acquired": "2017-09-09T13:06:06.072Z", 
        "campaign": "germany", 
        "href": "http://www.gulli.com/", 
        "id": "2db2fd4cbf447b63c7be59cb0d0993f95164b68e", 
        "inclusion": "imagesrv.adition.com", 
        "navigator_plugins": 7, 
        "navigator_userAgent": 1, 
        "needName": "badger", 
        "promiseId": "e70987de9f779c3924cffa601cd53f2c926d7973", 
        "screen_width": 1, 
        "scriptHash": "32f51deedfd3dd9a2f3a52a352367f6d6bae6a67", 
        "scriptacts": 9, 
        "subjectId": "a6074ec62e6d2d3775919ed4a8b53ba4f990e885", 
        "version": 1, 
        "when": "2017-09-09T13:41:24.310Z"
        }{
        "VP": "virtual", 
        "_id": "59b3ef87f50635667354b8b7", 
        "acquired": "2017-09-09T13:06:06.072Z", 
        "campaign": "germany", 
        "href": "http://www.gulli.com/", 
        "id": "2db2fd4cbf447b63c7be59cb0d0993f95164b68e", 
        "inclusion": "pagead2.googlesyndication.com", 
        "navigator_userAgent": 7, 
        "needName": "badger", 
        "promiseId": "e70987de9f779c3924cffa601cd53f2c926d7973", 
        "screen_availWidth": 2, 
        "screen_width": 2, 
        "scriptHash": "63d92bc0c16414f12fd8bb04e6e8189fb9a62ea6", 
        "scriptacts": 18, 
        "subjectId": "a6074ec62e6d2d3775919ed4a8b53ba4f990e885", 
        "version": 1, 
        "when": "2017-09-09T13:41:24.310Z", 
        "window_localStorage": 7

    p.text This result of an API (/api/v1/details/$campaignName) contains:
        ul
            li navigator.plugins
            li navigator.userAgent
            li screen.width
            li screen.availWidth
            li window.localStorage
        | are the javascript calls executed by the script.

    
section(class="prototype-12")
    h2 Lists of TODO to complete the fellowship
    ul
        li restructure the website sections: "last analysis", "running tests", "analysis", "about"
        li having Iran initiative running
        li having Argentinian social media monitor
        li document and complete the visualization: superficial, site-specific, (site-trend?), companies impact, advanced
        li having Chupadados made with CodingRights in a website and their data documented
        li Organize the final report (project usage and experience + insights from test selection)
        li Telegram & Twitter bot

