h1(class="reportTitle" id="August-17") August, September and October 2017

p.text This report, which is supposed to be monthly, is published after three months. I collaborated with a third party organization in experimenting an analysis based on the scraping of links from social media links and trackers analysis. At the moment I'm writing, beginning of November 2017, a report is in development (is not related to trackers analysis), and the opportunity raised a new research branch in this research.

section(class="operative-4 improvements-4")
    h2 Social media observer and realtime analysis
    p.text One of the challenge in web analysis, is the impossibility to test all the condition in which an user will navigate. Doing an average assumption, you can end up in doing an mass analysis but not to spot some deeply targeted behavior, because the script you hope to catch will just trigger in certain content.
    p.text The solution so far has been:
    ul
        li permitting to experts in providing their own list (as per personal experience, it is quite hard get people self-profile their community and report back generic but detailed links)
        li exporting your own history, in this year a good improvement has been made by EDRI fellow 
            a(href="http://www.privacypies.org/blog/metadata/2017/02/28/hakuna-metadata-1.html") Sid with Hackuna metadata
            |.
        li monitor only the homepage (this is what me or WebTAP of Princeton University did), and increase the size of the tested sites. But this can't see when a specific trackers runs only on few selected pages of the site.
    p.text Considering how Facebook and Google are the 
        a(href="https://staltz.com/the-web-began-dying-in-2014-heres-how.html") de-facto gatekeeper of the WWW
        |, the most appropriate solution to monitor the quality of web pages, is look at what is effectively provided by these platform. But, in order to do so, you have to observe the personalized experience of the users. With a browser extention is possible capture the public post in an user timeline, extract the external links, and analyzed them. 
    p.text This approach is currently in use.

section(class="operative-8")
    h2 LatAm realtime tracking experiment
    p.text A work in progress is the development of argentinin.tracking.exposed, analyzing the links shared by Argentinian media and political figures.

section(class="preliminary-7 operative-1")
    h2 Analysis of javascript tracking behavior
    p.text Has been implemented the usage of Chrome with PrivacyBadger as part of the testing suite, this permit the first javascript fingerprinting and visual reporting.

    pre.
        "VP": "virtual", 
        "_id": "59b3ef87f50635667354b8b6", 
        "acquired": "2017-09-09T13:06:06.072Z", 
        "campaign": "germany", 
        "href": "http://www.gulli.com/", 
        "id": "2db2fd4cbf447b63c7be59cb0d0993f95164b68e", 
        "inclusion": "imagesrv.adition.com", 
        "navigator_plugins": 7, 
        "navigator_userAgent": 1, 
        "needName": "badger", 
        "promiseId": "e70987de9f779c3924cffa601cd53f2c926d7973", 
        "screen_width": 1, 
        "scriptHash": "32f51deedfd3dd9a2f3a52a352367f6d6bae6a67", 
        "scriptacts": 9, 
        "subjectId": "a6074ec62e6d2d3775919ed4a8b53ba4f990e885", 
        "version": 1, 
        "when": "2017-09-09T13:41:24.310Z"
        }{
        "VP": "virtual", 
        "_id": "59b3ef87f50635667354b8b7", 
        "acquired": "2017-09-09T13:06:06.072Z", 
        "campaign": "germany", 
        "href": "http://www.gulli.com/", 
        "id": "2db2fd4cbf447b63c7be59cb0d0993f95164b68e", 
        "inclusion": "pagead2.googlesyndication.com", 
        "navigator_userAgent": 7, 
        "needName": "badger", 
        "promiseId": "e70987de9f779c3924cffa601cd53f2c926d7973", 
        "screen_availWidth": 2, 
        "screen_width": 2, 
        "scriptHash": "63d92bc0c16414f12fd8bb04e6e8189fb9a62ea6", 
        "scriptacts": 18, 
        "subjectId": "a6074ec62e6d2d3775919ed4a8b53ba4f990e885", 
        "version": 1, 
        "when": "2017-09-09T13:41:24.310Z", 
        "window_localStorage": 7

    p.text This result can be fetched via API (i.e.: https://invi.sible.link/api/v1/details/itatopex ), it contains most of the javascript calls usable in browser fingerprinting.

    h2 JS details visualization 
    p.text The interface wannts to show graphically what the third parties can potentially access. Every campaign is producing this outut daily, the incomplete visualization can be this example from the Cilean online clinics: 
        a(href="https://invi.sible.link/details/clinics-CL") Clinics-CL
    
