include head

.container-fluid

    .container-fluid
        p.text
            a(href="/images/bit.ly-home-webapp.png") Image: bit.ly-home-webapp.png
        img(src="/images/bit.ly-home-webapp.png")
    .container-fluid
        p.text
            a(href="/images/bit.ly-links-webapp.png") Image: bit.ly-links-webapp.png
        img(src="/images/bit.ly-links-webapp.png")
    .container-fluid
        p.text
            a(href="/images/brave-waterfall.png") Image: brave-waterfall.png
        img(src="/images/brave-waterfall.png")
    .container-fluid
        p.text
            a(href="/images/caxia-example.png") Image: caxia-example.png
        img(src="/images/caxia-example.png")
    .container-fluid
        p.text
            a(href="/images/clinicavespucio-by-ct.png") Image: clinicavespucio-by-ct.png
        img(src="/images/clinicavespucio-by-ct.png")
    .container-fluid
        p.text
            a(href="/images/companies-third-parties-homepage.png") Image: companies-third-parties-homepage.png
        img(src="/images/companies-third-parties-homepage.png")
    .container-fluid
        p.text
            a(href="/images/companies-third-parties-links.png") Image: companies-third-parties-links.png
        img(src="/images/companies-third-parties-links.png")
    .container-fluid
        p.text
            a(href="/images/diariopopular.com.ar-home-webapp.png") Image: diariopopular.com.ar-home-webapp.png
        img(src="/images/diariopopular.com.ar-home-webapp.png")
    .container-fluid
        p.text
            a(href="/images/diariopopular.com.ar-links.webapp.png") Image: diariopopular.com.ar-links.webapp.png
        img(src="/images/diariopopular.com.ar-links.webapp.png")
    .container-fluid
        p.text
            a(href="/images/differencies-among-three-days-by-type.png") Image: differencies-among-three-days-by-type.png
        img(src="/images/differencies-among-three-days-by-type.png")
    .container-fluid
        p.text
            a(href="/images/differencies-among-three-days.png") Image: differencies-among-three-days.png
        img(src="/images/differencies-among-three-days.png")
    .container-fluid
        p.text
            a(href="/images/differencies-in-periodic-analysis.png") Image: differencies-in-periodic-analysis.png
        img(src="/images/differencies-in-periodic-analysis.png")
    .container-fluid
        p.text
            a(href="/images/domain-frequency-lower-ranks.png") Image: domain-frequency-lower-ranks.png
        img(src="/images/domain-frequency-lower-ranks.png")
    .container-fluid
        p.text
            a(href="/images/fbtrex-example.png") Image: fbtrex-example.png
        img(src="/images/fbtrex-example.png")
    .container-fluid
        p.text
            a(href="/images/google-analytica-diff.png") Image: google-analytica-diff.png
        img(src="/images/google-analytica-diff.png")
    .container-fluid
        p.text
            a(href="/images/goo.gl-home-webapp.png") Image: goo.gl-home-webapp.png
        img(src="/images/goo.gl-home-webapp.png")
    .container-fluid
        p.text
            a(href="/images/goo.gl-links-webapp.png") Image: goo.gl-links-webapp.png
        img(src="/images/goo.gl-links-webapp.png")
    .container-fluid
        p.text
            a(href="/images/home-diarioshow-webapp.png") Image: home-diarioshow-webapp.png
        img(src="/images/home-diarioshow-webapp.png")
    .container-fluid
        p.text
            a(href="/images/js-included-chillean-clinics-mods.png") Image: js-included-chillean-clinics-mods.png
        img(src="/images/js-included-chillean-clinics-mods.png")
    .container-fluid
        p.text
            a(href="/images/js-included-chillean-clinics.png") Image: js-included-chillean-clinics.png
        img(src="/images/js-included-chillean-clinics.png")
    .container-fluid
        p.text
            a(href="/images/Last-three-months-Chilean-clinics.png") Image: Last-three-months-Chilean-clinics.png
        img(src="/images/Last-three-months-Chilean-clinics.png")
    .container-fluid
        p.text
            a(href="/images/multi-fields-comparison.png") Image: multi-fields-comparison.png
        img(src="/images/multi-fields-comparison.png")
    .container-fluid
        p.text
            a(href="/images/Number-of-Inclusion-gob.png") Image: Number-of-Inclusion-gob.png
        img(src="/images/Number-of-Inclusion-gob.png")
    .container-fluid
        p.text
            a(href="/images/pagina12-home-js.png") Image: pagina12-home-js.png
        img(src="/images/pagina12-home-js.png")
    .container-fluid
        p.text
            a(href="/images/pagina12-links-js.png") Image: pagina12-links-js.png
        img(src="/images/pagina12-links-js.png")
    .container-fluid
        p.text
            a(href="/images/screenWidth.png") Image: screenWidth.png
        img(src="/images/screenWidth.png")
    .container-fluid
        p.text
            a(href="/images/third-party-domain-freq.png") Image: third-party-domain-freq.png
        img(src="/images/third-party-domain-freq.png")
    .container-fluid
        p.text
            a(href="/images/third-party-inclusion-chilean.png") Image: third-party-inclusion-chilean.png
        img(src="/images/third-party-inclusion-chilean.png")
    .container-fluid
        p.text
            a(href="/images/TMP1.png") Image: TMP1.png
        img(src="/images/TMP1.png")
    .container-fluid
        p.text
            a(href="/images/TMZ-analysis-EVIDON.png") Image: TMZ-analysis-EVIDON.png
        img(src="/images/TMZ-analysis-EVIDON.png")
