include head

.container-fluid

    h3 Abstract
    p.text Considering the  
        a(href="http://webfoundation.org/docs/2017/07/Algorithms_Report_WF.pdf") 2017 WebFoundation report on Algorithm driven experiences
        |, and the analysis of 
        a(href="https://staltz.com/the-web-began-dying-in-2014-heres-how.html") Staltz
        |, the majority of users interactions are algorithm driven. Also, the trend of 
        i deep linking  
        | lead to skip homepage and reach content directly from social media.
    p.text Most of the interaction follows a personalized flow, and can't be determined a priori. Considering this project goal is to shed transparency on the kind of third-party scripts our browser executes, it is part of the accountability issues we can face as researchers. 
    p.text To be concrete, considering the previous chapter of this report: when I analyze "the pages followed by an individual which is getting informed on medical therapy, how can I be sure the pages selected are the correct one?" 

    h3 Personalized experiences
    p.text The interactions are also a thicker feedback-loop in the process of testing the user's response to the selected input. Study the user, see how to react, test again, do it for months. The complexity of the data brokering and the modern deep-learning tendencies go in this direction.
    p.text I put in context these thoughts with the current state-of-art trying to see their limits:
    ul
        li Is analyzed what is stable and true when the list is composed. it can't age well. depends on the kind of test, but it requires a high or low degree of maintenance 
        li For a data broker perspective, knowing a user has accessed the homepage has fewer data points compared to a content page. This last is an intuition. I speculate on this scenario:
            br
            i A data-broker run on nytimes.com homepage. When I access to it, the said the third party could attribute me some tags (values, data point, a percentage of belonging to a particular group) such as "English reader", "average medium culture", and/or "person which read the news".
            i If a data broker is active on the content page, let's say a page on horse racing, and I read it on nytimes.com, the attributed values are the same above plus other more specific, such as "potential gambler." These imputed data are more identifiable and more specific associated with my profile. 

    p.text The research question is how many different third parties are present in the content pages compares to the homepage?
    p.text We can't analyze all the web pages for computational limits, but during the fellowship, I took a small pause in supporting the 
        a(href="https://webfoundation.org/research/the-invisible-curation-of-content-facebooks-news-feed-and-our-information-diets/") WebFoundation in carrying on this analysis
        |, and as a side effect, I move forward in looking more with the user's unique point of view.

section(class="report-intro")

    h3 The integration
    p.text Using a browser extension from the aforementioned 
        a(href="https://addons.mozilla.org/en-US/firefox/addon/facebook-tracking-exposed/") Argentinan experiment
        | this workflow become possible: 
    ol
        li When the browser extension is installed, it changes a bit the appearance of a Facebook interface (green-blue row, and optional control panel)
        li In the control panel you can specify your belonging to a certain group, here in the example represented with "myUniqueId"
            img.img-responsive(src="/images/fbtrex-example.png")
        li When the user scroll on facebook.com/ the public post (only the post shared with everyone, with the world icon as privacy settings) are copied to a server as an individual copy.
        li In the server, parsing scripts extract external links
        li Using the unique ID (myUniqueId) as part of the input, it is possible to retrieve the derived links with an API (see below), and then feed with them the invi.sible.link pipeline:
            pre.
                http https://facebook.tracking.exposed/api/v1/metaxpt/myUniqueId/href/2650

                HTTP/1.1 200 OK
                Access-Control-Allow-Origin: *
                Connection: keep-alive
                Content-Length: 48382
                Content-Type: application/json; charset=utf-8
                Date: Sun, 01 Apr 2018 13:16:41 GMT
                ETag: W/"bcfe-bXzGxrJtDtjmK6UtiTWzkw"
                Server: nginx/1.10.3 (Ubuntu)
                X-Powered-By: Express

                {
                    "queryInfo": {
                        "hoursback": 2650, 
                        "now": "2018-04-01T15:16:41+02:00", 
                        "selector": {
                            "groupId": "myUniqueId"
                        }, 
                        "timeId": "0525adf095f653e34aea6bc6e7f8e7f0f89fec5d", 
                        "times": [
                            "2017-12-12T02:00:00.000Z", 
                            "2017-12-12T03:00:00.000Z"
                        ]
                    }, 
                    "results": [
                        {
                            "link": "http://bit.ly/2B4AsMd", 
                            "permaLink": "/DiarioTiempoArgentino/posts/1757759997589646", 
                            "putime": "2017-12-11T19:45:00.000Z", 
                            "source": "Diario Tiempo Argentino"
                        }, 
                        {
                            "link": "http://www.lanacion.com.ar/2090422-agustin-rossi-la-palabra-de-carrio-vale-muy-poco?utm_campaign=Echobox&utm_medium=Echobox&utm_source=Facebook#link_time=1513031400", 
                            "permaLink": "/lanacion/posts/10155581744944220", 
                            "putime": "2017-12-12T01:15:37.000Z", 
                            "source": "LA NACION"
                        }]

.container-fluid

    h3 Terminology
    ul
        li
            b homepage
            | is the nome used for an URL which point to the HTTP root /, such as
            code http://www.lancion.com.ar/
        li
            b content
            | is the nome used for an URL which point to a content, such as
            code http://www.lanacion.com.ar/2090422-agustin-rossi-la-palabra-de-carrio-vale-muy-poco

    h3 Comparison between homepage and content URLs
    p.text To perform this comparison I took 245 links appeared on a user timeline in 2 hours, then I selected the homepage belonging to the 245 resulting in 32 unique sites.
    p.text The graph has one URL per line, and then a bar on the left representing the number of unique companies attributed, on the right the number of third-party resources loaded.
    p.text The color code is tight to the company detected, The reason why on the right column there is a lot of blue, are the "unattributed" third-party. Likely the large amount is due to CDN with dediated domain name.

    img.img-responsive(src="/images/companies-third-parties-homepage.png")

    p.text This visualization gives some takeaways compared to the previous reports:
    p.text The URL list is a mix of different websites, (the homepages of the link appear on the Facebook experience) the first on top is all news media, and they have a more substantial number of companies embedded in the navigation than institutions and clinics. It is not the same for all the news media. 
    p.text Below we can see the same visualization apply to the content effectively display on the Facebook experience: the size of companies and third-party content higher, but the visualization could look misleading, because the content URL was more than two hundred, and the first on top appears on average to the same company (
        code perfil.com  
        | and 
        code pagina12.com.ar
        |), I suggest looking at the complete visualization: 
        a(href="https://public.tableau.com/profile/claudio.of.tracking.exposed#!/vizhome/Argentina-contentlinksJScontent-type/contentlinksJSonly") content URLs
        |, and 
        a(href="https://public.tableau.com/profile/claudio.of.tracking.exposed#!/vizhome/Argentina-homepageJScontent-type/homepagesJSonly") homepage URLs
        |.

    img.img-responsive(src="/images/companies-third-parties-links.png")

    p.text To better understand a large phenomena, I zoomed with a single domain name (
        code pagina12.com.ar
        |)

    img.img-responsive(src="/images/pagina12-home-js.png")
    img.img-responsive(src="/images/pagina12-links-js.png")

    p.text With the table below is simpler figure out there is not a clear determination. In black, the homepage numbers represent the amount I want to check, below an assessment link by link, how many javascript (D) and companies (C) are detected. 50% of the time is more, and the other is less. 
    
    img.img-responsive(src="/images/homepage-deeplink-comparison.png")

    p.text There are differences, which we can observe with the javascript fingerprinting approach (Viz#3) 
    img.img-responsive(src="/images/goo.gl-links-webapp.png")

    p.text This test and the one above are related to two URL redirect services. The question answered is: the page redirect does not inject any content on the page, just act as a passive intermediary. The content links are pointing to different services among them.
    p.text The presence of persistent storage is an open question: how much should we as use have control of an hard disk space we give to third-parties and webapplication? how we could exert more control on these caches?

    img.img-responsive(src="/images/bit.ly-links-webapp.png")

    h3 Conclusions

