.container(class="footer")
    h3 ⛅  
        a(href="/") invi.sible.link
        |, final report
    small Claudio Agosti, 
        i [claudio at tracking dot exposed], 2017 OTF fellow.

    .container-fluid
        table
            tbody
                tr 
                    th.col-sm-3
                        a(href="/final-report") Introduction
                    th.col-sm-3 
                        a(href="/final-findings-clinics") 1. Online clinics
                    th.col-sm-3
                        a(href="/final-findings-latam-gobierno") 2. Government Websites
                    th.col-sm-3
                        a(href="/final-findings-elections") 3. personalized URLs analysis 

.container-fluid
    br

