.container(class="footer fontnice")
    h3 ⛅  
        a(href="/") invi.sible.link
        |, final report
    small Claudio Agosti, 
        i [claudio at tracking dot exposed], 2017 OTF fellow.

    .container-fluid
        span.col-sm-3
            a(href="/final-report") Introduction
        span.col-sm-3
            a(href="/final-findings-clinics") 1. Online clinics
        span.col-sm-3
            a(href="/final-findings-latam-gobierno") 2. Government Websites
        span.col-sm-3
            a(href="/final-findings-elections") 3. personalized URLs analysis 

.container-fluid
    br

