section(class="report-entry" id="intro")
    h2 Abstract

    h2 Introduction
    p.text When our browser navigates in a website, depending on the HTML structure, we can end up to connects to many web-services. This interconnection among web-services is rock solid since the 90-ties. In this project, two implication are addressed: The impact on user privacy, because the third party service is aware of what the user is navigating on, and security, because every third party increases the attack surface which a user browser is exposed.

    p.text This phenomenon is under investigation by privacy researchers, security advocate, NGO for digital safety. It can't be really seen as a hot topic, because it is old enough to be named "the original sin of the internet" by one of its creators. Remain a political issue for the alleged manipulative consequences in electoral targeted advertising, for the lack of accountability, and for browser security when you implicitly

    h3 Interconnected elements

    p.text I consider five high-level implication interconnected to interpret the finding and the tool usages. I'm also grateful to the experience made with my hosting organization, CodingRights because the interdisciplinary applied here comes from the effort we made in explaining such technical results to a non-technical audience. 

    p.text 
        b Technology
        |: specialized tools such as Google Analytics, Google fonts, Adobe fonts, Cloudflare, are intended to offer advanced functionality to people who need this product without having the ability to deploy their own. Even third-party services such as such as wordpress.com implement additional third party, and this chain of inclusion it is something we observe often. Technical specialization it is something which explains many of the third party inclusions.

    p.text 
        b Security
        |: third-party authentication (such as "login with facebook"), delegating statistics aggregation and anonymization to get insightful analytics are Specialized services. They were proven to be a key factor for the progress of web services. Third-Party inclusion is therefore both a way to offer stronger data protection, but implicitly increase the attack surface if the security of the third party is not robust enough within the thread model of the website under analysis. 

    p.text
        b Cultural
        |: the technical complexity and the abstractness of behavioral profiling are hard concepts to be explained. It is even harder explain impact without real-world cases such as the Cambridge-Analytica, and this confirm how is hard do advocacy of issues which are not yet exploded.

    p.text
        b Political
        |: identify protection matter more for the many belonging to a community at risk. Selectors such as the appurtenance of a specific religious confession can be an issue in a region and a standard in another one. The risk assessment in analysis like this, need to keep in account the website and the audience. The complexity aforementioned is a key factor in the dissemination of the results. Otherwise, previous experiences display a plain, cold, technical communication without moving any change.


    h3 Existing work and competitors successes 
    p.text Considering the public debate among data privacy, the fairness of monetization upon massive users profiling, and HTTPS security, other researchers made valuable research and tools in my same time frame.
        br
        | During the time of my fellowship, other projects covered some aspects I was assumed to implement, this made me reframe a bit the scope of the tool and the research.

    

            
