doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/js/vendor/bootstrap/css/bootstrap.min.css')
    script(type='text/javascript', src='/js/vendor/jquery/jquery.js')
    title ☃ 404

  body
    .container-fluid
      .jumbotron
        h1 ☃ 

    h2.center ⛅  invi.sible.link: Page requested not found

    hr
    p.text.small stroyteller navigation bar:
    include navbar
    hr
    p.text.small exposer navigation bar:
    include exposerbar

