doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title ☃ 404

  body
    .container-fluid
      .jumbotron
        h1 ☃ 

    h2.center ⛅  invi.sible.link: Page requested not found

