doctype html
html
    head
        link(rel='stylesheet', href='/css/index.css')
        link(rel='stylesheet', href='/js/vendor/bootstrap/css/bootstrap.min.css')
        script(type='text/javascript', src='/js/vendor/jquery/jquery.js')
        title The project, invi.sible.link, privacy analysis and critique to the third-party surveillance system.

    body
  
        .container-fluid
            .jumbotron
                h3 The invi.sible.link project wants to show the privacy and security impact of third party trackers.
                small  
                    a(href="https://keybase.io/vecna") rsa3808/0xBE7EB8EA 2016-10-07 [SCEA] [expires: 2018-04-30]
                    |  
                    a(href="https://twitter.com/_vecna") @_vecna

        include navbar

            .container-fluid.text-block

                .text
                    p The open source code and methodology is the main product of this project, this website contains some of the findings.

                h2 Project support
                p is OpenTechFund the supporters of this reseach project, completed with 12 months fellowship of Claudio Agosti, in collaboration in
                    a(href="https://www.codingrights.org") Coding Rights
                    |. You can know more about project reading the 
                    a(href='/project-plan') Project plan

                .text
                    p Claudio Agosti, is/was an 
                        a(href="https://www.opentech.fund/about/program") Open Technology Found
                        | 
                        a(href="https://www.opentech.fund/fellow/claudio-agosti") fellow
                        | , for the year 2017 (but with some delay, the research has been completed in March 2018), as part of the
                        a(href="https://www.opentech.fund/requests/icfp") Information Controls Fellowship Program
                        |.

                    p Claudio Agosti, formerly in 
                        a(href="https://tacticaltech.org") Tactical Tech
                        |, 
                        a(href="https://en.wikipedia.org/wiki/GlobaLeaks") GlobaLeaks
                        |, and currently 
                        a(href="https://data-activism.net/publications/software-development/") Research Associate university of Amsterdam
                        |, and funder/director of the algorithm analysis platform 
                        a(href="https://medium.com/@trackingexposed") tracking.exposed


            .footer
