doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(type='text/javascript', src='/js/vendor/jquery.js')
    script(type='text/javascript', src='/js/vendor/collapse.js')
    title The project, invi.sible.link, privacy analysis and critique to the third-party surveillance system.

  body
  
  .container-fluid
    .jumbotron
      h3 The invi.sible.link project wants to show the privacy and security impact of third party trackers.
      small  
        a(href="https://keybase.io/vecna") rsa3808/0xBE7EB8EA 2016-10-07 [SCEA] [expires: 2018-04-30]
        |  
        a(href="https://twitter.com/_vecna") @_vecna

  include navbar

  .container-fluid

    div.text
      p The
        b  code
        |  produced is the main product of this website. Said code, help in creation of website and analysis intended to raise awareness on websites third party for a targeted audience. 

      p You want do third party trackers privacy and security assessment. You know the context who has to be assessed, and 
        b you pick the target. 
        | for example "american muslims, healthcare users, citizen of a specific country, social media sources). Create an appropriate list of target websites, (and optional, if you have audience to outrich and not just for analysis, create the website text);
      p 
        b Here is provided a technology to get graphs, analysis, and what the privacy 
        i  campaign
        |  needs. 

        li
          a(href='/project-plan') Project plan
        li
          a(href='/report') Work in progress
        li
          a(href='/stats') Stats

    div.text
      p Claudio Agosti, since November 2016 to November 2017 is an 
        a(href="https://www.opentech.fund/about/program") Open Technology Found
        |,  
        a(href="https://www.opentech.fund/fellow/claudio-agosti") fellow
        |  on the 
        a(href="https://www.opentech.fund/requests/icfp") Information Controls Fellowship Program
        |.

      p Currently guest of  
        a(href="https://www.codingrights.org") Coding Rights
        |  Formerly in  
        a(href="https://tacticaltech.org") Tactical Tech
        |  previously dedicated on the FLOSS  
        a(href="https://en.wikipedia.org/wiki/GlobaLeaks") whistleblowing platform
        |  GlobaLeaks.
      p Freshly become 
        a(href="https://data-activism.net/publications/software-development/") Research Associate university of Amsterdam
        |.

  div.footer
