doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(type='text/javascript', src='/js/vendor/jquery.js')
    script(type='text/javascript', src='/js/vendor/collapse.js')
    title ⛅ 

  body
  
  .container-fluid
    .jumbotron
      h1 ⛅  Contacts
      small long story short: 
        a(href="https://keybase.io/vecna") rsa3808/0xBE7EB8EA 2016-10-07 [SCEA] [expires: 2018-04-30]
        |, Twitter, expect a 
        a(href="https://twitter.com/_vecna") 80% entertainment, 20% content

  include navbar

  .container-fluid

    div.text
      p Claudio Agosti, living in Rio de Janeiro, since November 2016 to November 2017 I'm an 
        a(href="https://www.opentech.fund/about/program") Open Technology Found
        |,  
        a(href="https://www.opentech.fund/fellow/claudio-agosti") fellow
        | on the 
        a(href="https://www.opentech.fund/requests/icfp") Information Controls Fellowship Program
        |.

      p Currently guest of  
        a(href="https://www.codingrights.org") Coding Rights
        | Formerly in  
        a(href="https://tacticaltech.org") Tactical Tech
        | previously dedicated on the FLOSS  
        a(href="https://en.wikipedia.org/wiki/GlobaLeaks") whistleblowing platform
        |  GlobaLeaks

    div.text 
      h1 ⛅  ?
      p.bluetto Assuption: I'm incapable to paint logos or to take any graphic decision without mixing purple and yellow..
      p Therefore, when I've need some kind of symbolism, I look at the 
        a(href="http://unicode-table.com/en/") Unicode table
        |. For the invi.sible.link project, I took the 
        b sun behind the clouds
        |, as optimistic vision in bringing light over the otherwise shady phenomena of the third party trackers.

  div.footer
