doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/c3.css')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/collapse.js')
    script(type='text/javascript', src='/js/d3.min.js')
    script(type='text/javascript', src='/js/c3.min.js')
    script(type='text/javascript', src='/js/lodash.min.js')
    script(type='text/javascript', src='/js/local/exposer.js')
    title invi.sible.link - exposer

  body(onload="byDay('basicReport', '#basicStatus'); ")
  
    .container-fluid
        .jumbotron
            h1 ⛅  Exposer of invi.sible.link

    include exposerbar

    p.text This server is not supposed to contain actual information, just to expose a couple of API.

    .container-fluid
        h3 Some basic stats describing what's going on
    div#basicStatus

    div.footer
