doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/c3.css')

    link(rel='stylesheet', href='/js/vendor/bootstrap/css/bootstrap.min.css')
    script(type='text/javascript', src='/js/vendor/jquery/jquery.js')

    script(type='text/javascript', src='/js/d3.min.js')
    script(type='text/javascript', src='/js/c3.min.js')
    script(type='text/javascript', src='/js/lodash.min.js')
    script(type='text/javascript', src='/js/local/exposer.js')
    title invi.sible.link - exposer

  body(onload="byDay('basicReport', '#basicStatus'); ")
  
    .container-fluid
        .jumbotron
            h1 ⛅  Exposer of invi.sible.link

    include exposerbar

    p.text Graph visualisation, currently facing some memory issue due to the large amount of not-indexed data. This might be solved using a scheduled analysis tool that generate results once per day.

    .container-fluid
        h3 Some basic stats describing what's going on
    div#basicStatus

    div.footer
