doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/c3.css')
    link(rel='stylesheet', type='text/css', href='/css/datatables.min.css')

    script(type='text/javascript', src='/js/vendor/jquery.js')
    script(type='text/javascript', src='/js/vendor/collapse.js')
    script(type='text/javascript', src='/js/vendor/lodash.min.js')
    script(type='text/javascript', src='/js/vendor/moment.min.js')
    script(type='text/javascript', src='/js/vendor/d3.min.js')
    script(type='text/javascript', src='/js/vendor/c3.min.js')
    script(type='text/javascript', charset='utf8', src='/js/datatables.min.js')

    script(type='text/javascript', src='/js/local/history.js')
    script(type='text/javascript', src='/js/local/last.js')

    title ⛅  Active analysis 

  body(onload="displayRecent('#recent'); displayCampaign('#campaignList');")

    .container-fluid
      .jumbotron
        h1 ⛅  Analysis running in this server
        small ß release 

    include navbar

    .container-fluid
      div.text Here the experiments running daily on this server; click in one of them to fill the entries below.
        ol#campaignList

    .container-fluid.secondaryDetails

        h2 Campaign codename: 
          span#preliminaryName
        #preliminaryGraph

        table#executedList.display(cellspacing='0', width='100%')
          thead
            tr
              th Href
              th Description
              th Start
              th When
          tfoot
            tr
              th Href
              th Description
              th Start
              th When

        h2 Single site history expansion
        ol#siteList
        h3#historyName
        span#historyGraph

        h2 Raw dump of all the surface analysis
        ul#previewDump

    .container-fluid
      div.text Recent activities, 
        b debug content:
      #recent
      #previewDump
        
    include footer
