doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/c3.css')
    link(rel='stylesheet', type='text/css', href='/css/datatables.min.css')

    script(type='text/javascript', src='/js/vendor/jquery.js')
    script(type='text/javascript', src='/js/vendor/collapse.js')
    script(type='text/javascript', src='/js/vendor/lodash.min.js')
    script(type='text/javascript', src='/js/vendor/moment.min.js')
    script(type='text/javascript', src='/js/vendor/d3.min.js')
    script(type='text/javascript', src='/js/vendor/c3.min.js')
    script(type='text/javascript', charset='utf8', src='/js/datatables.min.js')

    script(type='text/javascript', src='/js/local/basic.js')
    script(type='text/javascript', src='/js/local/last.js')

    title ⛅  Active analysis 

  body(onload="displayRecent('#recent'); displayCampaign('#campaignList');")

    .container-fluid
      .jumbotron
        h1 ⛅  Analysis running in this server
        small ß release 

    include navbar

    .container-fluid
      div.text Recent activities, server processing debug
      #recent

    .container-fluid
      div.text Below a list of the campaign who should run daily on this server

        ol#campaignList

      div.text Click on one of the name above to see see here a preliminary analysis
        h1#preliminaryName
        #preliminaryGraph

        table#executedList.display(cellspacing='0', width='100%')
          thead
            tr
              th Href
              th Description
              th Start
              th When
          tfoot
            tr
              th Href
              th Description
              th Start
              th When

        h2 Most unique trackers
        #mostUnique
        h2 Most frequent companies
        #mostCompanies
        h2 Raw dump of all the surface analysis
        ul#previewDump

    include footer
