doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='//cdn.datatables.net/1.10.12/css/jquery.dataTables.css')
    script(type='text/javascript', src='/js/vendor/jquery.js')
    script(type='text/javascript', charset='utf8', src='//cdn.datatables.net/1.10.12/js/jquery.dataTables.js')
    script(type='text/javascript', src='/js/vendor/collapse.js')
    script(type='text/javascript', src='/js/vendor/lodash.min.js')
    script(type='text/javascript', src='/js/local/lists.js')
    title ⛅  Subject comparison

  body(onload="displayLists('#lastTable');")
  
  .container-fluid
    .jumbotron
      h1 ⛅  Last activities 
      small α release -- this page would be ready when any activity exists

  include navbar

  .container-fluid
    div(class="text") This page will show last activities performed by the components in the network.


    table#listTable.display(cellspacing='0', width='100%')
      thead
        tr
          th Component
          th Host
          th Activity
          th Date
          th When
          th Details
      tfoot
        tr
          th Component
          th Host
          th Activity
          th Date
          th When
          th Details

  include footer
