doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='//cdn.datatables.net/1.10.12/css/jquery.dataTables.css')
    script(type='text/javascript', src='/js/vendor/jquery.js')
    script(type='text/javascript', charset='utf8', src='//cdn.datatables.net/1.10.12/js/jquery.dataTables.js')
    script(type='text/javascript', src='/js/vendor/collapse.js')
    script(type='text/javascript', src='/js/vendor/lodash.min.js')
    script(type='text/javascript', src='/js/vendor/moment.min.js')
    script(type='text/javascript', src='/js/local/lists.js')
    title ⛅  Subjects under scrutiny

  body(onload="displayLists('#listTable');")
  
  .container-fluid
    .jumbotron
      h1 ⛅  Subjects under scrutiny
      small α release -- how the website are aggregated

  include navbar

  .container-fluid
    p(class="text") The following row represents a list of website subject to be tested one per day. Is based on the Alexa list of March 2016, it is just a dummy test until the pipeline isn't ready to provide updated results. 
    p(class="text") Next improvements might be:
      ul
        li See the actual content of the list
        li Strip off from the list the tracking website itself (we don't need to test them?)
        li Receive CSV from external contributor

    table#listTable.display(cellspacing='0', width='100%')
      thead
        tr
          th Name
          th Kind
          th group dated on
          th inserted
          th Site present
      tfoot
        tr
          th Name
          th Kind
          th group dated on
          th inserted
          th Site present

  include footer
