nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    .container-fluid
        a.navbar-brand(href='/') ğ”€ğ“®ğ“« ğ“½ğ“»ğ“ªğ“¬ğ“´ğ“®ğ“» ğ“ªğ“·ğ“ªğ“µğ”‚ğ“¼ğ“²ğ“¼ ğ“ªğ“·ğ“­ ğ“»ğ“®ğ“¹ğ“¸ğ“»ğ“½ğ“²ğ“·ğ“°
            span(class="glyphicon glyphicon-home")
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
                li.nav-item.active
                    a.nav-link(href='/')
                        span(class="glyphicon glyphicon-home") Researches
                        span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='/stats') Activities
                    li.nav-item
                        a.nav-link(href='/info') About
                    li.nav-item
                        a.nav-link(href='https://github.com/vecna/invi.sible.link') Code

