nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    .container-fluid
        a.navbar-brand(href='/') daily web tracker analyzed and reporter
            span(class="glyphicon glyphicon-home")
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
                li.nav-item.active
                    a.nav-link(href='/')
                        span(class="glyphicon glyphicon-home") /
                        span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='/report') Activities report
                    li.nav-item
                        a.nav-link(href='/last') Analysis report
                    li.nav-item
                        a.nav-link(href='/stats') Experiments stats
                    li.nav-item
                        a.nav-link(href='/about') About
                    li.nav-item
                        a.nav-link(href='https://github.com/vecna/invi.sible.link') Code

