doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/c3.css')

    link(rel='stylesheet', href='/js/vendor/bootstrap/css/bootstrap.min.css')
    script(type='text/javascript', src='/js/vendor/jquery/jquery.js')

    script(type='text/javascript', src='/js/vendor/lodash.min.js')
    script(type='text/javascript', src='/js/vendor/moment.min.js')
    script(type='text/javascript', src='/js/vendor/d3.min.js')
    script(type='text/javascript', src='/js/vendor/c3.min.js')

    script(type='text/javascript', src='/js/local/stats.js')

    title ⛅  invi.sible.link - Statistics

    body(onload="tasksInsertion('#tasks'); lastHours({'hours': 48, 'loadavg': '#loadavg', 'memory': '#memory', 'phantom': '#phantom', 'badger': '#badger', 'accesses': '#accesses'}); localInfo('#orchestration'); ")

    .container-fluid
      .jumbotron
        h1 Stats of 
        h2 ⛅  invi.sible.link

    include navbar

    .container-fluid.text
        h3.hli Orchestration point
        div(id="orchestration")

    .container-fluid.text
        h3.hli Tasks: promises and solutions
        p This is the amount of scan request issued by the orchestration point
        div(id="tasks")

    .container-fluid.text
        h2 Boxes statistics
        p This display the last 48 hours activities in the vantage points

        h3.hli Load Average
        div(id="loadavg")
        h3.hli Memory
        div(id="memory")
        h3.hli Phantom-based crawling
        div(id="phantom")
        h3.hli Badger-based crawling 
        div(id="badger")
        h3.hli API access recorded
        div(id="accesses")

    .container-fluid
        h3 Check the 
            a(href="/longterm-stats") Last 20 days
            |  (Might take a while to load the graphs)

    include footer

