doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(type='text/javascript', src='/js/vendor/jquery.js')
    script(type='text/javascript', src='/js/vendor/collapse.js')
    script(type='text/javascript', src='/js/vendor/lodash.min.js')
    script(type='text/javascript', src='/js/vendor/moment.min.js')
    script(type='text/javascript', src='/js/local/stats.js')

    link(rel='stylesheet', href='/css/c3.css')
    script(type='text/javascript', src='/js/vendor/d3.min.js')
    script(type='text/javascript', src='/js/vendor/c3.min.js')

    title ⛅  invi.sible.link - Statistics

  body(onload="last48hoursStats('#statistics');")

    .container-fluid
      .jumbotron
        h1 Stats of 
        h2 ⛅  invi.sible.link

    include navbar

    div(id="statistics")

    include footer

