doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/c3.css')
    script(type='text/javascript', src='/js/vendor/jquery.js')
    script(type='text/javascript', src='/js/vendor/collapse.js')
    script(type='text/javascript', src='/js/vendor/d3.min.js')
    script(type='text/javascript', src='/js/vendor/c3.min.js')
    title invi.sible.link

  body

    .container-fluid
      .jumbotron
        h1 ⛅  invi.sible.link
        small since November 2016, invi.sible.link is in α release

    include navbar

    .container-fluid
      p.text This project is the continuation of 
        a(href="https://trackography.org") Trackography
        |. Is it currently in α release release

    table#listTable.display(cellspacing='0', width='100%')
      thead
        tr
          th Campagin
          th Tests
          th Last test
          th Site present
      tfoot
        tr
          th Campagin
          th Tests
          th Last test
          th Site present

  include footer
