doctype html
html
    head
        link(rel='stylesheet', href='/css/index.css')
        link(rel='stylesheet', href='/js/vendor/bootstrap/css/bootstrap.min.css')

        script(type='text/javascript', src='/js/vendor/jquery/jquery.js')
        script(type='text/javascript', src='/js/vendor/lodash.min.js')
        script(type='text/javascript', src='/js/vendor/moment.min.js')

        title invi.sible.link

    body

        .container-fluid
        .jumbotron
            h1 ⛅  invi.sible.link

        include navbar

        .container-fluid

            p.text Welcome, this is a concluded project; the code reach a stable version which make it is (not easy, but doable) the adoption. 
            p.text The domain name and the service will remain up for some months (at least, the whole 2018), in the evaluation on how to maintain the code with partners.
            h3
                ul
                    li
                        a(href="/final-report") final report 
                    li
                        a(href="https://github.com/vecna/invi.sible.link") github project page
                    li
                        a(href="/project-plan") project specification

        include footer
