doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/js/vendor/bootstrap/css/bootstrap.min.css')
    script(type='text/javascript', src='/js/vendor/jquery/jquery.js')

    script(type='text/javascript', src='/js/vendor/lodash.min.js')
    script(type='text/javascript', src='/js/vendor/moment.min.js')

    title invi.sible.link

    body

    .container-fluid
      .jumbotron
        h1 ⛅  invi.sible.link

    include navbar

    .container-fluid

      p.text This is a broad scope third party tracker analysis, with an eye on academic research, privacy campaining and digital colonialism.
      h3 A web trackers analysis and reporting tool

      p.text I'm looking for use cases. Network and site-clusters in which internet is surveilled, 
        a(href="https://citizenlab.org/2015/04/chinas-great-cannon/") third party trackers can get modify on the fly
        |, is my field of research.

    .container-fluid
      p.text There are privacy and security implications caused by web tracking, this project provide a toolchain intended to investigate in such phenomena. Look more in:
        ul
          li
            a(href="https://www.theatlantic.com/technology/archive/2017/02/browsing-history-identity/515763/") Your Browsing History Alone Can Give Away Your Identity
          li
            a(href="http://www.chromium.org/Home/chromium-security/client-identification-mechanisms") 2014 research: analysis on client identification techniques
          li
            a(href="http://monica-at-mozilla.blogspot.it/") Monica Cheng and her researches
          li
            a(href="http://yinzhicao.org/TrackingFree/crossbrowsertracking_NDSS17.pdf") Cross browser hardware fingerprinting

  include footer
