doctype html
html
    head
        link(rel='stylesheet', href='/css/index.css')
        link(rel='stylesheet', href='/js/vendor/bootstrap/css/bootstrap.min.css')

        script(type='text/javascript', src='/js/vendor/jquery/jquery.js')
        script(type='text/javascript', src='/js/vendor/lodash.min.js')
        script(type='text/javascript', src='/js/vendor/moment.min.js')

        title invi.sible.link

    body

        .container-fluid
        .jumbotron
            h1 ⛅  invi.sible.link

        include navbar

        .container-fluid

            p.text Status: the pipeline technology is currently used by third parties test; Findings are collected, 
                a(href="/final-report") final report is in ongoing process
                |.

        include footer
