doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='//cdn.datatables.net/1.10.12/css/jquery.dataTables.css')
    script(type='text/javascript', src='/js/vendor/jquery.js')
    script(type='text/javascript', charset='utf8', src='//cdn.datatables.net/1.10.12/js/jquery.dataTables.js')
    script(type='text/javascript', src='/js/vendor/collapse.js')
    script(type='text/javascript', src='/js/vendor/lodash.min.js')
    script(type='text/javascript', src='/js/vendor/moment.min.js')
    script(type='text/javascript', src='/js/local/machetesurface.js')

    link(rel='stylesheet', href='/css/c3.css')
    script(type='text/javascript', src='/js/vendor/d3.min.js')
    script(type='text/javascript', src='/js/vendor/c3.min.js')

    title invi.sible.link

    body(onload="subjectList('#subjectTable', 'BR'); lastOne('#lastBrasil', 'campaign'); mostUniqueTrackers('#worst', 'campaign');")

    .container-fluid
      .jumbotron
        h1 ⛅  invi.sible.link
        small since November 2016, invi.sible.link is in α release

    include navbar

    .container-fluid
      p.text This project is the continuation of 
        a(href="https://trackography.org") Trackography
        |. Is it currently in α release, transition to the ß. In the first Quarter of 2017, the goal is improve the pipeline with advocacy material and increase the evidences collected.

    .container-fluid
      h2 The 
        b Brazil experiment
      p.text 
        b This is a data processing pipeline intended to feed advocacy campaign on websites
        |. The visualizations below are intended to display how a campaign can focus on a cluster of websites; In this case, as nearly-reandom testing webisites, are took the top 100 Brazilian visited (on '16 Spring). 
      p.text Other clusters of websites can be "
        i all the link shared with #BLM hashtag
        |" or "
        i all the news media in Pakistan
        |", until you can provide a list, I can add your campaign in this pipeline.

      h2 Subjects in analysis
      div.text
        table#subjectTable.display(cellspacing='0', width='100%')
          thead
            tr
              th Href
              th Description
              th Rank
          tfoot
            tr
              th Href
              th Description
              th Rank

      h2 Last updated test
      div.text
        table#lastBrasil.display(cellspacing='0', width='100%')
          thead
            tr
              th Href
              th Seen By
              th Javascripts
              th 3rd party Inclusions
              th when
          tfoot
            tr
              th Href
              th Seen By
              th Javascripts
              th 3rd party Inclusions
              th when

      h2 Most unique trackers
      p.text later on I'ill go deeper in profiling such trackers and extend their metadata.
      div(id="worst")


  include footer

