doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(type='text/javascript', src='/js/vendor/jquery.js')
    script(type='text/javascript', src='/js/vendor/collapse.js')
    script(type='text/javascript', src='/js/vendor/lodash.min.js')
    script(type='text/javascript', src='/js/vendor/moment.min.js')

    title invi.sible.link

    body

    .container-fluid
      .jumbotron
        h1 ⛅  invi.sible.link

    include navbar

    .container-fluid

      p.text This is a broad scope third party tracker analysis, with an eye on academic research, privacy campaining and awareness and digital colonialism.
      h3 A web trackers analysis and reporting tool
      p.text 

  include footer

