doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='//cdn.datatables.net/1.10.12/css/jquery.dataTables.css')
    script(type='text/javascript', src='/js/vendor/jquery.js')
    script(type='text/javascript', charset='utf8', src='//cdn.datatables.net/1.10.12/js/jquery.dataTables.js')
    script(type='text/javascript', src='/js/vendor/collapse.js')
    script(type='text/javascript', src='/js/vendor/lodash.min.js')
    script(type='text/javascript', src='/js/vendor/moment.min.js')
    script(type='text/javascript', src='/js/local/machetesurface.js')

    link(rel='stylesheet', href='/css/c3.css')
    script(type='text/javascript', src='/js/vendor/d3.min.js')
    script(type='text/javascript', src='/js/vendor/c3.min.js')

    title invi.sible.link

    body(onload="subjectList('#subjectTable', 'BR'); lastOne('#lastBrasil', 'Brasil'); mostUniqueTrackers('#worst', 'Brasil'); mostCompanies('#companies', 'Brasil'); ")

    .container-fluid
      .jumbotron
        h1 ⛅  invi.sible.link
        small since November 2016, invi.sible.link is in α release

    include navbar

    .container-fluid
      p.text This project is the continuation of 
        a(href="https://trackography.org") Trackography
        |. Is it currently in ß released. In the first Quarter of 2017, the goal is improve the pipeline and do research on the evidences collected.

    .container-fluid
      p.text I'm looking for use cases. Network and site-clusters in which internet is surveilled, 
        a(href="https://citizenlab.org/2015/04/chinas-great-cannon/") third party trackers can get modify on the fly
        |, is my field of research.

      p.text Update: http://yinzhicao.org/TrackingFree/crossbrowsertracking_NDSS17.pdf
    //  table#subjectTable.display(cellspacing='0', width='100%')
    //  table#lastBrasil.display(cellspacing='0', width='100%')
    //  div(id="worst")
    //  div(id="companies")


  include footer

