doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/c3.css')

    link(rel='stylesheet', href='/js/vendor/bootstrap/css/bootstrap.min.css')
    script(type='text/javascript', src='/js/vendor/jquery/jquery.js')

    script(type='text/javascript', src='/js/vendor/d3.min.js')
    script(type='text/javascript', src='/js/vendor/c3.min.js')
    script(type='text/javascript', src='/js/local/homepage.js')
    title invi.sible.link

  body
  
  .container-fluid
    .jumbotron
      h1 ⛅  Vigile of invi.sible.link
      small.italic
        a(href="https://en.wiktionary.org/wiki/vigile") Vigile
        |, is the Italian word for traffic cop

  include navbar

  .container-fluid
    h1 Some
    h2 Other
    h3 stuff
    p ciao


  div.footer
