.firstcontent {
    padding-top: 60px;
}

body {
    background-color: #d9f9e1;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
}

@font-face {
    font-family: 'FrancoisOne';
    font-style: normal;
    font-weight: 400;
    src: local('FrancoisOne'), url("/js/local/FrancoisOne.ttf") format('truetype');
}

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Work Sans'), url("/js/local/WorkSans.ttf") format('truetype');
}

h1,h2,h3,h4,h5{
    font-family: 'FrancoisOne', serif;
    margin-bottom:1em;
    font-weight:bold;
}

.text {
    font-size: 20px;
    padding-left: 1em;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
}

.small-text {
    font-size: 0.6em;
    text-align: center;
}

#table {
    /* background-image: url('fixtures/background.png'); */
    background-color: #f1ffea;
}

.lighter {
    background-color: rgb(240, 255, 243);
    border-radius: 10px;
}

.lighter a, .lighter a:hover {
    color: darkgreen;
    text-decoration: underline;
}

.yellow {
    padding: 40px 0;
    text-align: justify;
}

.sad {
    text-color: blue;
}

.quote {
    background: -webkit-linear-gradient(top left, #FFFFCC, yellow);
    background: linear-gradient(to bottom right, #FFFFCC, yellow); /* Standard syntax */
    padding: 1em;
    font-family: 'Monospace';
    font-style: italic;
    font-weight: 500;
    font-style: italic;
    font-size: 18px;
    border-radius: 10px;
}

.sad {
    text-align: center;
}

.source {
    background-color: yellow;
    text-align: right;
    font-size: 0.8em;
    padding-right: 20px;
    border-radius: 10px;
}
.source a, .source a:hover {
    color: black;
    text-decoration: underline;
}

.author {
    font-size: 0.5em;
}

.footer {
    border-top: black 1px solid;
}

/* used by the citation block */
@media (min-width: 768px) {
    .yellow {
        padding: 40px 140px;
        padding-right: 320px;
    }
    .quote {
        line-height: 1.7;
    }
}

.tableborder {
    margin-bottom: 2px;
}

.reduced {
    margin-left: 10px;
    font-size: 0.9em;
}

/* bar chart */
.axis .domain {
    display: none;
}

#cookiesrank .c3-event-rect {
    cursor: pointer;
}

.links {
    cursor: pointer;
}

/* jquery shitty abandoned line chart */
.entry {
    display: block;
    float: left;
}
.underline {
    border-bottom: 1px solid #d7ffad;
    font-size: 0.7em;
}

.site {
    background-color: #fffdad;
    border-radius: 5px;
}

.company {
    background-color: #ffd4ad;
    background: linear-gradient(to right, #ffd4ad, #fffdad); /* Standard syntax */
    font-weight: bold;
    border-radius: 5px;
}

/* current ordered list of third party inclusions */
.noverflow {
    font-size: 0.8em;
    overflow-wrap: break-word;
}

#orderedL {
    font-size: 0.7em;
    font-family: 'Monospace';
    background-color: white;
}

