.firstcontent {
    padding-top: 70px;
}

body {
    background-color: #d9f9e1;
    font-size: 18px;
}

h1,h2,h3,h4,h5{
    font-family: 'Sanchez', serif;
    margin-bottom:1em;
    font-weight:bold;
}

.textL {
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    padding-left: 3em;
    background-color: #b3fcc5;
    padding-bottom: 1em;
    padding-top: 1em;
}


.textR {
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    padding-left: 3em;
    padding-bottom: 1em;
    padding-top: 1em;
    border: #b3fcc5;
}

.textL, .textR{
  margin-left:-3em;
}

#table {
    /* background-image: url('fixtures/background.png'); */
    background-color: #f1ffea;
}

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Work Sans'), url("/js/local/WorkSans.ttf") format('truetype');
}

.yellow {
    padding: 40px 0;
    text-align: justify;
}

.quote {
    background: -webkit-linear-gradient(top left, #FFFFCC, yellow);
    background: linear-gradient(to bottom right, #FFFFCC, yellow); /* Standard syntax */
    padding: 1em;
    font-family: 'Monospace';
    font-style: italic;
    font-weight: 500;
    font-style: italic;
    font-size: 18px;
}

.source {
    background-color: yellow;
    text-align: right;
    font-size: 0.8em;
    font-family: 'Work Sans';

}
.source a, .source a:hover {
    color: black;
    text-decoration: underline;
}

.author {
    font-size: 0.5em;
    // background-color: black;
}

.footer {
    border-top: black 1px solid;
}

/* I don't remember why I put this and where it is used */
@media (min-width: 768px) {
    .yellow {
        padding: 40px 140px;
        padding-right: 320px;
    }
    .quote {
        line-height: 1.7;
    }
}
