{
  "mongodb": {
    "uri": "mongodb://localhost/trackography"
  },
  "debug": "debugflow",
  "alexa": {
    "accesskey": "A...",
    "secret": "i..."
  },
  "twitter": {
    "consumer_key": "q...",
    "consumer_secret": "h...",
    "access_token_key": "1...",
    "access_token_secret": "F..."
  },
  "companies": "config/companies/companymap.json",
  "world": {
    "description": "Top website from all the country in the world",
    "countries": "config/world/countriesInfos.json",
    "filePrefix" : 
              [ "BD", "BR", "CN", "CO", "DE", "EG", "ES", "FR", "GB", 
                "ID", "IN", "IR", "IT", "JP", "KR", "MX", "NG", "PH", 
                "PK", "RU", "TH", "TR", "TZ", "US", "VN", "ZA" ],
    "locationDir": "config/world"
  }
}

