
.left
  text-align left

.text-block
  margin 20px
  padding 1px lightblue dashed
  border 1px lightblue dashed

.right
  text-align right

.center
  text-align center

p
  font-size 1.3em

.verdepallido
  color #e6f6e4
.verdolino
  color #d1ecc6
.violapallido
  color #f7f0fa
.violetto
  color #ded1f0
.bluetto
  color #3eb3bb
.verdone
  color #246B58
.italic
  font-style italic
.impact
  font-weight 800

.hli
  background #e4f1aa
  padding-left 30%

.text
  font-size 1.1em
  margin-left 20px
  margin-right 20px
  font-weight 100 

section
  margin-left 10px 
  margin-right 10px
  padding 5px 
  background-color #e6f6e4

.footer
  background-color lightcyan

h2
  margin 5px

/* Used in report page */

.progressBar
  margin 0.3em

.progressBlock
  margin 0.1em
  border-top black 1px solid
  border-width thin
  border-style solid
  border-color #3eb3bb
  padding-left 0.2em
  padding-right 0.2em

.done
  background-color #e6ecc6
  color blue
  font-weight 800

.notdone
  background-color #f7f0fa
  color lightgrey
  font-style italic

img
  max-width 100%
  height auto
