
.left
  text-align left

.right
  text-align right

.center
  text-align center

p
  font-size 1.3em

.white
  color white

.blue
  color 3c5a99

.orange
  color fd5308

.green
  color 66b032

.italic
  font-style italic

.text
  font-size 1.2em
  color darkblue
  padding 0.5em
  font-weight 600 
