.core
  text-align center
  left-padding 5%
  right-padding 5%

table
    margin-left auto
    margin-right auto

.header
  top-padding 5%
  bottom-padding 5%
  background-color #d9c1f9
  color white

h4 
  color #0518f5

.sitehead

.traceshead
  color #fb00ff

.entry
  padding-top 4px

.notes
  border-left 2px solid black
  border-top 2px solid black

.entries .notes
  overflow none
  text-style underline
  text-align left

.productBlock
  border-radius 2px
  padding-left 5px

.site
  text-align right
  padding-right 10px

.name
  font-size 1.5em
  font-weight 500

.entries .address
  font-size 0.8em

.product
  font-style italic
  border 5px
  font-size 1.2em

.number
  color #fb00ff
  margin 5px
  font-size 1.4em

.clean
  color green
  font-size 1.6em
 
.left
  float left
